@import "tailwindcss";

@layer components {
    .button-style {
        @apply rounded-lg text-white px-2 cursor-pointer
    }
    .input-style {
        @apply border border-fuchsia-400 rounded-lg px-2 py-1 w-full transition-colors focus:outline-none focus:border-blue-500
    }
    .reaction-style {
        @apply *:rounded-4xl *:border *:cursor-pointer *:p-1 *:border-gray-400
    }
}

body {
    padding: 1rem;
}